@charset "UTF-8";#wpadminbar
{
    position:fixed!important}body.admin-bar.f-topbar-fixed .sticky.fixed{margin-top:2rem}.wp-caption>figcaption{max-width:100%;font-size:.8rem;color:#999;padding:.25rem 0}p.wp-caption-text{font-size:90%;color:#666;padding:.625rem 0}.alignleft{float:left;padding-right:1rem;margin:0}.alignright{float:right;padding-left:1rem;margin:0}.aligncenter{display:block;margin-left:auto;margin-right:auto}

li
{
    padding-top:5px;
}

.wiki-content h1,h2,h3,h4,h5,h6,h7,h8,h9
{
line-height: normal;
padding-bottom: 2px;
}

.wiki-content h1
{
font-size: 32px;
margin: 28px 0px 4px 0px;
border-bottom: 3px solid #66B456;
page-break-after: avoid;
}

.wiki-content h2
{
font-size: 30px;
margin: 26px 0 4px 0;
page-break-after: avoid;
}

.wiki-content h3
{
font-size: 24px;
margin: 21px 0 4px 0;
page-break-after: avoid;
}

.wiki-content h4
{
font-size: 20px;
margin: 18px 0 4px 0;
font-weight: 400;
font-style: italic;
page-break-after: avoid;
}

.wiki-content h5
{
font-size: 16px;
margin: 14px 0 4px 0;
font-weight: bold;
color: #424242;
page-break-after: avoid;
}

.wiki-content h6
{
font-size: 14px;
margin: 14px 0 4px 0;
display: block;
}

body,p,li,td,table,tr,.bodytext,.stepfield 
{
font-size: 12pt;
font-family: ConfluenceInstalledFont, Segoe, Helvetica, Arial, sans-serif;
line-height: 1.7;
color: #161616;
font-weight: normal;
}


.wiki-content img
{
   page-break-inside: avoid !important;
   break-inside:avoid !important;
   padding-top: 10px;
   padding-bottom:10px;
}
